.calculator {
    width: 180px;
    height: 270px;
    margin: 150px auto;
    padding: 25px;
    border: none;
    border-radius: 10px;
    background-color: black;
    box-shadow: 10px 10px 5px #686363;

  } 
  .display {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 3px solid rgba(208, 183, 183, 0.3);
  }
  input{
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #686363;
    border: 1px solid #686363;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    text-align: end;
    font-weight: bold;
  }
  ::placeholder{
    color: black;
    text-align: end;
  }
  .buttons {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  button {
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(74, 71, 71);
    box-shadow: -3px -3px 2px rgb(149, 139, 139);
  }
  .red{
    background-color: rgb(251, 60, 60);
    box-shadow: -3px -3px 2px rgb(237, 117, 117);
  }
  .green{
    background-color: rgb(25, 165, 252);
    box-shadow: -3px -3px 2px rgb(50, 142, 200);
  }